.board {
    display: grid;
    grid-template-columns: repeat(var(--size), 1fr);
    gap: 1em;
    max-width: 20em;
    margin: 2em auto;

    padding: 1em;
    background: #2fb92f;
    border-radius: 1.5em;
    box-shadow: 0 0 2em 0.75em rgba(47, 185, 47, 0.7);
    position: relative;
    z-index: 1;
}
